* {
        box-sizing: border-box

}
.display{
    background-color: black;
    color: white;
    text-align: right;
    font-size: 40px;
    font-family: "arial";
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 5px;
    width: 400px;
}
.flexcontainer {
    display: flex;
    align-items: stretch;
    width: 400px;
    justify-content: space-between;
}
.button {
    display: inline-table;
    align-items: stretch;
    justify-content: space-between;
    font-family: "arial";
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    border:1px solid black;
    background-color: #d8d9db;
    text-align: center;
    width: 25%;
    cursor: pointer;
}
.button:hover {
    background-color: #f5f6f8;
}
.button:active {
    background-color: #abadb0;
}
.button-orange {
    background-color: #df974c;
}
.button-orange:hover {
    background-color: #dcaa76;
}
.button-orange:active {
    background-color: #dc8932;
}
.middle {
    width: 50%;
}
.big {
    width: 75%;
}